DATABASE_URL="your_database_url_here"
JWT_ACCESS_SECRET="jwt_acces_secret"
JWT_REFRESH_SECRET="JWT_REFRESH_SECRET"
JWT_ACCESS_TTL="JWT_ACCESS_TTL" #ejempl 15d
JWT_REFRESH_TTL="JWT_REFRESH_TTL" #ejempl 30d
AUTH_SERVICE_GRPC_URL="0.0.0.0:50051"
# Datos del Admin 
ADMIN_EMAIL="admin_email"
ADMIN_PASSWORD="admin_password"
ADMIN_NAME="Admin_Name"